body {
    margin-top: 40px;
}

.jumbotron img {
    max-width: 30%;
    border: 5px solid aliceblue;
    box-shadow: 2px 2px 10px #000;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url("materials/bg-jumbotron.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: aliceblue;
    text-shadow: 2px 2px 10px #000;
}

hr {
    width: 250px;
    border: 2px solid #999;
}

.about p {
    text-indent: 10%;
}

.about {
    background-color: #eee;
}

.certificate {
    background-color: #eee;
}